#pragma once

// -- IMPORTANT --
// This is an example file. To configure your own credentials,
// copy this file to "credentials.h" and fill in your details.
// The "credentials.h" file is ignored by Git.

// --- WiFi Credentials ---
const char* ssid = "YOUR_WIFI_SSID";
const char* password = "YOUR_WIFI_PASSWORD";

// --- Server Configuration ---
const char* primaryServerIp = "YOUR_SERVER_IP";
